.box-miolibro * {
  box-sizing: content-box;
}
.box-miolibro {
  width: 100%;
  border: 1px solid #dddddd;
  margin: 0 0 30px 0;
  font-family: arial;
  zoom: 1;
}
.box-miolibro:before,
.box-miolibro:after {
  content: "";
  display: table;
}
.box-miolibro:after {
  clear: both;
}
.box-miolibro a {
  text-decoration: none;
}
.box-miolibro .miolibro-logo {
  height: 47px;
  border-bottom: 1px solid #dddddd;
}
.box-miolibro .miolibro-logo .assistive-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
.box-miolibro .miolibro-logo a {
  width: 133px;
  height: 20px;
  display: block;
  padding-top: 22px;
  background: url('https://www.repstatic.it/cless/common/box/ilmiolibro/assets/img/logo-mio-libro.png') center center no-repeat;
  margin: 0 auto;
}
.box-miolibro .iml-article-big {
  width: 100%;
  height: 176px;
  position: relative;
  overflow: hidden;
}
.box-miolibro .iml-article-big a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}
.box-miolibro .iml-article-big a img {
  width: 100%;
  display: block;
}
.box-miolibro .iml-article-big .iml-article-content {
  width: 100%;
  position: absolute;
  z-index: 2;
  bottom: -4px;
  padding: 50px 0 15px 20px;
  text-overflow: ellipsis;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 45%, rgba(0,0,0,0.9) 100%);
}
.box-miolibro .iml-article-big .iml-article-content .iml-label {
  margin-bottom: 7px;
  background-color: #ed3d3d;
  color: #ffffff;
  font-size: 11px;
  padding: 4px 6px;
  text-transform: uppercase;
}
.box-miolibro .iml-article-big .iml-article-content h2 {
  margin: 8px 10px 0 0;
  padding-right: 11px;
  font-size: 18px;
  line-height: 19px;
}
.box-miolibro .iml-article-little {
  padding: 20px 17px;
  zoom: 1;
}
.box-miolibro .iml-article-little:before,
.box-miolibro .iml-article-little:after {
  content: "";
  display: table;
}
.box-miolibro .iml-article-little:after {
  clear: both;
}
.box-miolibro .iml-article-little a img {
  float: left;
  margin-right: 15px;
  margin-bottom: 6px;
  border: 1px solid #dddddd;
  width: 70px;
}
.box-miolibro .iml-article-little h2 {
  margin: 0;
}
.box-miolibro .iml-article-little h2 a {
  font-size: 18px;
  line-height: 19px;
  color: #000000;
  font-weight: 500;
  text-overflow: ellipsis;
}
.box-miolibro .iml-article-little .iml-author {
  display: block;
  margin-top: 17px;
  font-size: 13px;
}
.box-miolibro .iml-article-little .iml-gender {
  text-transform: uppercase;
  color: #ed3d3d;
}
.box-miolibro .iml-article-little.tablet {
  zoom: 1;
  padding: 23px 17px 14px 17px;
}
.box-miolibro .iml-article-little.tablet:before,
.box-miolibro .iml-article-little.tablet:after {
  content: "";
  display: table;
}
.box-miolibro .iml-article-little.tablet:after {
  clear: both;
}
.box-miolibro .iml-article-little.tablet .cover-book {
  width: 105px;
  height: 152px;
  display: block;
  float: left;
  background: url('https://www.repstatic.it/cless/common/box/ilmiolibro/assets/img/tablet.png') 0 0 no-repeat;
  padding: 9px 0 0 6px;
}
.box-miolibro .iml-article-little.tablet .cover-book img {
  border: 0;
}
.box-miolibro .iml-article-little.tablet .iml-label {
  display: inline-block;
  margin-bottom: 10px;
  background-color: #ed3d3d;
  color: #ffffff;
  font-size: 11px;
  padding: 4px 6px;
  text-transform: uppercase;
}
.box-miolibro .iml-article-little.tablet h2 a {
  display: block;
  width: auto;
  font-size: 18px;
  line-height: 20px;
}
.box-miolibro .iml-shop-button {
  border-top: 1px solid #dddddd;
  zoom: 1;
  margin: 0 15px 5px 18px;
}
.box-miolibro .iml-shop-button:before,
.box-miolibro .iml-shop-button:after {
  content: "";
  display: table;
}
.box-miolibro .iml-shop-button:after {
  clear: both;
}
.box-miolibro .iml-shop-button li {
  float: left;
  width: 134px;
  text-align: center;
}
.box-miolibro .iml-shop-button li .assistive-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
.box-miolibro .iml-shop-button a {
  display: block;
  padding-top: 35px;
  margin: 0 auto;
}
.box-miolibro .iml-shop-button a.itunes-button {
  width: 119px;
  height: 36px;
  background: url('https://www.repstatic.it/cless/common/box/ilmiolibro/assets/img/itunes-button.png') center center no-repeat;
}
.box-miolibro .iml-shop-button a.amazon-button {
  width: 108px;
  height: 36px;
  background: url('https://www.repstatic.it/cless/common/box/ilmiolibro/assets/img/amazon-button.png') center center no-repeat;
}
.box-miolibro .iml-bottom-link {
  width: 100%;
  margin: 0;
  border-top: 1px solid #dddddd;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
}
.box-miolibro .iml-bottom-link li {
  width: 50%;
text-align: center;
-webkit-text-align: center;
-ms-text-align: center;
  list-style-type: none;
}
.box-miolibro .iml-bottom-link li.first {
  border-right: 1px solid #dddddd;
}
.box-miolibro .iml-bottom-link li a {
  font-size: 12px;
  color: #33383c;
  font-weight: bold;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .box-miolibro .miolibro-logo a {
    width: 133px;
    height: 20px;
    display: block;
    padding-top: 22px;
    background: url('https://www.repstatic.it/cless/common/box/ilmiolibro/assets/img/logo-mio-libro@2x.png') center center no-repeat;
    margin: 0 auto;
    background-size: contain;
  }
  .box-miolibro .iml-article-little.tablet .cover-book {
    width: 105px;
    height: 152px;
    display: block;
    float: left;
    background: url('https://www.repstatic.it/cless/common/box/ilmiolibro/assets/img/tablet@2x.png') 0 0 no-repeat;
    padding: 9px 0 0 6px;
  }
  .box-miolibro .iml-shop-button li a.itunes-button {
    background: url('https://www.repstatic.it/cless/common/box/ilmiolibro/assets/img/itunes-button@2x.png') center center no-repeat;
    background-size: contain;
  }
  .box-miolibro .iml-shop-button li a.amazon-button {
    background: url('https://www.repstatic.it/cless/common/box/ilmiolibro/assets/img/amazon-button@2x.png') center center no-repeat;
    background-size: contain;
  }
}