/* Fonts */
/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * freight-sans-pro:
 *   - http://typekit.com/eulas/000000000000000000010b5a
 *   - http://typekit.com/eulas/000000000000000000010b5b
 *   - http://typekit.com/eulas/000000000000000000010b60
 *   - http://typekit.com/eulas/000000000000000000010b61
 *   - http://typekit.com/eulas/000000000000000000010b58
 *   - http://typekit.com/eulas/000000000000000000010b59
 *   - http://typekit.com/eulas/000000000000000000010b5c
 *   - http://typekit.com/eulas/000000000000000000010b5d
 *   - http://typekit.com/eulas/000000000000000000010b5e
 *   - http://typekit.com/eulas/000000000000000000010b5f
 *   - http://typekit.com/eulas/000000000000000000010b62
 *   - http://typekit.com/eulas/000000000000000000010b63
 * guyot-headline:
 *   - http://typekit.com/eulas/00000000000000007735f3ab
 *   - http://typekit.com/eulas/00000000000000007735f3b4
 *   - http://typekit.com/eulas/00000000000000007735f3b5
 *   - http://typekit.com/eulas/00000000000000007735f3b1
 *   - http://typekit.com/eulas/00000000000000007735f3ae
 *   - http://typekit.com/eulas/00000000000000007735f3b3
 *   - http://typekit.com/eulas/00000000000000007735f3ad
 *   - http://typekit.com/eulas/00000000000000007735f3b6
 *   - http://typekit.com/eulas/00000000000000007735f3af
 *   - http://typekit.com/eulas/00000000000000007735f3b2
 *   - http://typekit.com/eulas/00000000000000007735f3b0
 *   - http://typekit.com/eulas/00000000000000007735f3ac
 
 
 * © 2009-2024 Adobe Systems Incorporated. All Rights Reserved.
 */
 
 @font-face {
font-family:"freight-sans-pro";
src:url("https://use.typekit.net/af/ba2099/000000000000000000010b58/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/ba2099/000000000000000000010b58/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/ba2099/000000000000000000010b58/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"freight-sans-pro";
src:url("https://use.typekit.net/af/1ece10/000000000000000000010b59/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/1ece10/000000000000000000010b59/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/1ece10/000000000000000000010b59/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
font-display:swap;font-style:italic;font-weight:300;font-stretch:normal;
}


@font-face {
font-family:"freight-sans-pro";
src:url("https://use.typekit.net/af/442215/000000000000000000010b5a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/442215/000000000000000000010b5a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/442215/000000000000000000010b5a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"freight-sans-pro";
src:url("https://use.typekit.net/af/3df5fe/000000000000000000010b5b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/3df5fe/000000000000000000010b5b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/3df5fe/000000000000000000010b5b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:swap;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"freight-sans-pro";
src:url("https://use.typekit.net/af/8dd886/000000000000000000010b5c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/8dd886/000000000000000000010b5c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/8dd886/000000000000000000010b5c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"freight-sans-pro";
src:url("https://use.typekit.net/af/441f33/000000000000000000010b5d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/441f33/000000000000000000010b5d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/441f33/000000000000000000010b5d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("opentype");
font-display:swap;font-style:italic;font-weight:500;font-stretch:normal;
}


@font-face {
font-family:"freight-sans-pro";
src:url("https://use.typekit.net/af/cef9f3/000000000000000000010b5e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/cef9f3/000000000000000000010b5e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/cef9f3/000000000000000000010b5e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"freight-sans-pro";
src:url("https://use.typekit.net/af/2a72d2/000000000000000000010b5f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/2a72d2/000000000000000000010b5f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/2a72d2/000000000000000000010b5f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
font-display:swap;font-style:italic;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"freight-sans-pro";
src:url("https://use.typekit.net/af/1709eb/000000000000000000010b60/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/1709eb/000000000000000000010b60/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/1709eb/000000000000000000010b60/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"freight-sans-pro";
src:url("https://use.typekit.net/af/65fc7d/000000000000000000010b61/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/65fc7d/000000000000000000010b61/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/65fc7d/000000000000000000010b61/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:swap;font-style:italic;font-weight:700;font-stretch:normal;
}



@font-face {
font-family:"guyot-headline";
src:url("https://use.typekit.net/af/377e72/00000000000000007735f3ad/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/377e72/00000000000000007735f3ad/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/377e72/00000000000000007735f3ad/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"guyot-headline";
src:url("https://use.typekit.net/af/1b1bd0/00000000000000007735f3b3/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/1b1bd0/00000000000000007735f3b3/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/1b1bd0/00000000000000007735f3b3/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
font-display:swap;font-style:italic;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"guyot-headline";
src:url("https://use.typekit.net/af/ba6d2a/00000000000000007735f3b1/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/ba6d2a/00000000000000007735f3b1/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/ba6d2a/00000000000000007735f3b1/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"guyot-headline";
src:url("https://use.typekit.net/af/08f486/00000000000000007735f3ab/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/08f486/00000000000000007735f3ab/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/08f486/00000000000000007735f3ab/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:swap;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"guyot-headline";
src:url("https://use.typekit.net/af/2b0973/00000000000000007735f3af/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/2b0973/00000000000000007735f3af/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/2b0973/00000000000000007735f3af/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"guyot-headline";
src:url("https://use.typekit.net/af/c93724/00000000000000007735f3b2/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/c93724/00000000000000007735f3b2/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/c93724/00000000000000007735f3b2/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
font-display:swap;font-style:italic;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"guyot-headline";
src:url("https://use.typekit.net/af/0a3f36/00000000000000007735f3b6/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/0a3f36/00000000000000007735f3b6/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/0a3f36/00000000000000007735f3b6/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"guyot-headline";
src:url("https://use.typekit.net/af/b3b3f5/00000000000000007735f3b4/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/b3b3f5/00000000000000007735f3b4/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/b3b3f5/00000000000000007735f3b4/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:swap;font-style:italic;font-weight:700;font-stretch:normal;
}

/* Scaffolding */

html {
    font-weight:400;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
body {    font-family: freight-sans-pro, sans-serif;font-variant-numeric: lining-nums;font-weight: 400;font-style: normal;color:#000}
strong, b {font-weight:600;}
em, cite {font-style:italic;}

.piano-content {width:100%}


.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width:1px
}

.mobile-only {display:none!important;}
.desktop-only {display:block!important;}

h1, h2, h3, h4, h5, h6 {font-family: guyot-headline, serif; font-weight:500;margin-top:0}
h1, h2, h3, h4 {margin-bottom:0rem;}
.header-guyot-size1 {font-size: 3.35925rem;line-height: 1.19;margin-bottom:16px;}
.header-guyot-size2  {font-size: 2.799rem;line-height: 1.1;margin-bottom:16px;}
.header-guyot-size3 {font-size: 1.944rem;line-height: 1.29;margin-bottom:16px;}
.header-guyot-size4 {font-size: 1.35rem;font-weight: 600;line-height: 1.2;margin-bottom:16px;}
.header-guyot-size5 {font-size: 1.125rem;font-weight: 600;line-height: 1.3;margin-bottom:16px;}
.header-guyot-size6 {font-size: 1.0000125rem;font-weight: 600;line-height: 1.25;margin-bottom:16px;}
.header-freight-size1 {font-family: freight-sans-pro;font-size: 3.35925rem;line-height: 1.19;font-weight: 600;margin-bottom:16px;}
.header-freight-size2  {font-family: freight-sans-pro;font-size: 2.799rem;line-height: 1.1;font-weight: 600;margin-bottom:16px;}
.header-freight-size3 {font-family: freight-sans-pro;font-size: 1.944rem;line-height: 1.29;font-weight: 600;margin-bottom:16px;}
.header-freight-size4 {font-family: freight-sans-pro;font-size: 1.35rem;font-weight: 600;line-height: 1.2;margin-bottom:16px;}
.header-freight-size5 {font-family: freight-sans-pro;font-size: 1.125rem;font-weight: 600;line-height: 1.3;margin-bottom:16px;}
.header-freight-size6 {font-family: freight-sans-pro;font-size: 1.0000125rem;font-weight: 600;letter-spacing: 1px;line-height: 1.25;text-transform: uppercase;margin-bottom:16px;}
.body-size1 {font-size: 1.125rem;font-weight: 400;line-height: 1.5;margin-bottom:16px}
.body-size2 {font-size: .937125rem;font-weight: 400;line-height: 1.6;}
.overline {font-size: .875rem;font-weight: 600;letter-spacing: 1px;line-height: 1.5;text-transform: uppercase;}

ol, ul {list-style-position: inside;}
ol {list-style: none; counter-reset: smr-counter;}
ol li {counter-increment: smr-counter;}
ol li::before {content: counter(smr-counter) ". ";color: #005B9C;font-weight: 600;}
ul {list-style: none;}
ul li::before {content: "\2022";color: #005B9C;font-weight: 600;display: inline-block; width: 1em;}
li {margin-bottom:8px}

a {color: #000;text-decoration: none;transition:all 1s ease;}

p>a {color: #000;text-decoration: none;border-bottom: 1px solid #00e0ff;transition:all 1s ease;}
p>a:hover {color:#005b9c;border-bottom: 1px solid #005b9c;}
.callout-special {background-color:#f0f0f0; padding:24px}


.is-button, button {background:transparent; cursor: pointer;text-transform: uppercase;text-decoration: none;font-size: calc(1.1rem*.625);font-weight: 600;letter-spacing: 1px;border: 1px solid #00e0ff;color: #005b9c!important;height: 45px;line-height:calc( 4.5rem*.625);padding: 0 15px;display: -webkit-box;display: flex;-webkit-box-align: center;align-items: center;justify-content: center;  transition: 0.5s;width:100%}

.is-button a {color: #005b9c;text-decoration:none;width:100%;text-align:center;line-height: 1.3;transition:all 1s ease;}
.is-button:hover {background:#00e0ff}
.is-button.btn-aqua, .btn-aqua {color: #000!important;background:#00e0ff;border:none;transition:all 1s ease;}
.is-button..btn-aqua a, .btn-aqua a {color: #000!important;transition:all 1s ease;}
.is-button.aqua:hover {color: #00e0ff!important;background:#005B9C}
.is-button.aqua:hover a {color: #00e0ff!important;}

.is-button.btn-blue a, .btn-blue a {color: #fff!important;transition:all 1s ease;}
.is-button.btn-blue,.btn-blue {color: #fff!important;background:#005B9C;border:none;transition:all 1s ease;}
.is-button.btn-blue:hover,.btn-blue:hover {background:#000}
.is-button.btn-blue a:hover,.btn-blue a:hover {color: #fff!important;}

.content blockquote.pullquote{background: #f0f0f0; background-clip:content-box;color: #000;overflow: auto;font-size: 3.6rem;font-weight: 400;font-style: normal;line-height: 4rem;margin-bottom:16px;}
.content blockquote.pullquote:before{content: "";display: block;width: 35px;height: 32px;background: url(https://sloanrefresh.wpengine.com/wp-content/themes/smr/assets/images/icons/quote-mark_aqua.svg) no-repeat;margin: 30px 0 15px 30px;}
.content blockquote.pullquote p {padding:0 30px 30px}
.content blockquote.pullquote .pullquote-author {margin-top: -25px;font-size: 1.4rem;line-height: 2rem;padding-bottom:10px}
.content blockquote.pullquote .pullquote-citation {margin-top: -25px;font-size: 1.4rem;line-height: 2rem;}
.content blockquote.pullquote--blue {background: #005b9c;
color: #fff;}
.content blockquote.pullquote--aqua {background: #00e0ff;
color: #000;}
.content blockquote.pullquote--aqua:before {background: url(https://sloanrefresh.wpengine.com/wp-content/themes/smr/assets/images/icons/quote-mark_blue.svg) no-repeat;}

img, img.size-full {
	width:100%
}

.attribution, .caption {
	font-size: 1.1rem;
    line-height: 1.6rem;
    font-weight: 600;
    font-style: normal;
    margin-top:10px;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 800px){
p {font-size:1.6rem; line-height: 2.8rem;}
.meta {font-size:1.3rem; line-height:2rem;}
.is-button {}
.content blockquote.pullquote{font-size: 2.8rem;line-height: 3.2rem;}
.callout-info {width: 100%;float: none;margin-bottom:20px}
}

@media screen and (max-width: 600px) {


}

/* Generic classes */

.blue {
    color:#005b9c !important
}

.aqua {
    color:#00e0ff !important
}

.silver {
    color:#f0f0f0 !important
}

.black {
    color:#000 !important
}

.white {
    color:#fff !important
}

.red {
    color:#ed1b2e !important
}

.green {
    color:#006b67 !important
}

.shadow {
    box-shadow:3px 3px 10px 0 rgba(0, 0, 0, .4)
}

.strikethrough {
text-decoration: line-through;

}

/* Grid */

*, *:after, *:before {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.l-grid {
overflow: visible;


}

.l-grid:after {
    content: "";
    display: block;
    clear:both
}

.l-grid[class*='l-col-'] > *{
    float: left;
    padding-left:20px
}

.l-grid.l-col-20 > * {
    width:20%
}

.l-grid.l-col-25 > * {
    width:25%
}

.l-grid.l-col-33 > * {
    width:33.33%
}

.l-grid.l-col-50 > * {
    width:50%
}

.l-grid.l-col-66 > * {
    width:66.66%
}

.l-grid.l-col-75 > * {
    width:75%
}

.l-grid.l-col-50and25 > * {
    width:25%
}

.l-grid.l-col-50and25 > :first-child {
    width:50%
}

.l-grid.l-col-30to40to30 > * {
    width:30%
}

.l-grid.l-col-30to40to30 > * + * {
    width:40%
}

.l-grid.l-col-30to40to30 > * + * + * {
    width:30%
}

.l-grid.l-col-25and75 > * {
    width:75%
}

.l-grid.l-col-25and75 > :first-child, .l-grid.l-col-75and25 > * {
    width:25%
}

.l-grid.l-col-75and25 > :first-child {
    width:75%
}

.l-grid.l-col-66and33 > * {
    width:33.33%
}

.l-grid.l-col-33and66 > *, .l-grid.l-col-66and33 > :first-child {
    width:66.66%
}

.l-grid.l-col-33and66 > :first-child, .l-grid.l-col-33to25 > * {
    width:33.33%
}

.l-grid.l-col-33to25.has-oxe > :nth-child(3), .l-grid.l-col-33to25 > :last-child {
    display:none;
}

.l-grid.l-col-33to25.has-oxe > :last-child {
    display:block
}

.l-grid.l-col-50to33and66 > * {
    width:50%
}



@media only screen
  and (max-device-width: 550px) {
    .l-grid.l-mobile-100, .l-mobile-100 {
        overflow: hidden;
        margin-left:0
    }

    .l-mobile-100 > div {
        width: 100% !important;
        float: none;
        padding-left: 0 !important;
        margin-bottom:20px
    }

    .l-mobile-100 > div:first-child {
        margin-top:0
    }
    .mobile-only {display:block!important;}
    .desktop-only {display:none!important;}
}